{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">

        <div class="header">

            <a class="button" href="/instructors/create">Novo</a>

            <form action="/instructors" method="GET">
                <input type="text" name="filter" placeholder="Nome ou Atendimento" value="{{filter}}">
                <button type="submit">Filtrar</button>
            </form>

        </div>
        
        <table width="100%">
            <thead>                         {# cabeçalho da tabela #}
                <tr>                        {# linha da tabela #}
                    <th>Instrutor</th>      {# coluna do cabeçalho da tabela #}
                    <th>Atendimento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead> 

            <tbody>                         {# corpo da tabela #}
               
                {% for instructor in instructors %}
                    <tr>                        
                        <td>
                            <span style="background-image: url({{ instructor.avatar_url }})" ></span>
                            {{ instructor.name }}
                        </td>
                        <td>{{ instructor.services }}</td>          {# coluna do corpo da tabela #} 
                        <td>{{ instructor.total_students }}</td>    {# coluna do corpo da tabela #} 
                        <td><a href="/instructors/{{ instructor.id }}">Ver</a></td>             
                    </tr>
               {% endfor %}
               
            </tbody>

        </table>

    </div>

{% endblock content %}