            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="http://" value="{{ instructor.avatar_url }}" required>
                </div>
            </div>
            
            <div class="item">
                <div>Instrutor</div>
                <div>
                    <input type="text" name="name" placeholder="Nome do Instrutor" value="{{ instructor.name }}" required>
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>
                    <input type="date" name="birth" value="{{ instructor.birth }}" required>
                </div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>
                    <span>
                        <input type="radio" name="gender" value="M" required 
                            {% if instructor.gender == "M" %}
                                checked
                            {% endif %}>Masculino
                    </span>

                    <span>
                        <input type="radio" name="gender" value="F" required 
                            {% if instructor.gender == "F" %}
                                checked
                            {% endif %}>Feminino
                    </span>

                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="services"  value="{{ instructor.services }}" placeholder="Digite os serviços prestados por vírgula" required>
                </div>
            </div>

            <button type="submit">Salvar</button>